<h2>Blog</h2>
$body$

<p>One of my goals is to get better at writing, and the best way to do that is
to practice. This blog serves as a place where I can post things that I write,
and to document some of the projects that I build.</p>

<p>I'm just getting started, so there isn't a whole lot here at the moment. In
any case, here are some of my most recent blog posts:</p>

$partial("templates/post-list.html")$

<p>You can see all of the posts that I've written in the
<a href="/archive">archive</a>.</p>
