<body class="page-body">

    <div class="container">

        <div class="row">
            <div class="col-sm-10 blog-header center-block">
                <h1 class="blog-title"><a href="/">Eric Bannatyne</a></h1>

                $partial("templates/top-nav.html")$
            </div>
        </div>

        <div class="row">

            <div class="col-sm-10 blog-main center-block">
                $body$
            </div><!-- /.blog-main -->

        </div><!-- /.row -->

    </div><!-- /.container -->

    $partial("templates/footer.html")$
</body>